a {
  color: grey;
  text-decoration: none;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 1%;
}

section {
  margin-top: 3rem;
}

table {
  border-collapse: collapse;
  margin: 5% auto;
  width: 50%;
}

td, th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.container {
  margin: auto;
  text-align: center;
  width: 80%;
}

.grid-container {
  align-items: end;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 5% auto 6%;
  row-gap: 4rem;
}

.header-line {
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px auto 20px;
  text-align: center;
  width: 70%;
}

.header-line span {
  background:#fff;
  padding:0 10px;
}

.hero-container {
  margin: auto;
  position: relative;
  text-align: center;
}

.hero-header {
  left: 50%;
  position: absolute;
  top: 7%;
  transform: translate(-50%);
}

.navbar {
  list-style-type: none;
  margin: 1% 0 2%;
  padding: 1rem;
  text-align: center;
}

.nav-item {
  display: inline;
  padding: 3%;
}

.nav-item :hover {
  color: black;
}

.nav-item:hover .nav-sub {
  visibility: visible;
}

.nav-sub {
  display: block;
  margin: 1%;
  position: absolute;
  visibility: hidden;
  width: 100%;
}

.nav-sub-item {
  display: inline;
  padding: 0 3% 1%;
}

.width-narrow {
  margin: 2% auto 5%;
  width: 65%;
}
