a {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: black;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  margin: 1%;
}

section {
  margin-top: 3rem;
}

table {
  border-collapse: collapse;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  margin: 5% auto;
  width: 50%;
}

td, th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.container {
  margin: auto;
  text-align: center;
  width: 80%;
}

.grid-container {
  align-items: end;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 5% auto 6%;
  row-gap: 4rem;
}

.header-line {
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px auto 20px;
  text-align: center;
  width: 70%;
}

.header-line span {
  background:#fff;
  padding:0 10px;
}

.hero-container {
  margin: auto;
  position: relative;
  text-align: center;
}

.hero-header {
  left: 50%;
  position: absolute;
  top: 7%;
  transform: translate(-50%);
}

.index {
  list-style-type: none;
}

.index li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding: 2%;
}

.info-table {
  width: 100%;
}

.info-cell {
  padding: 3%;
  text-align: left;
}

.loading-header {
  margin: 5rem auto;
}

.mail {
  margin-top: 5%;
}

.navbar {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  list-style-type: none;
  margin: 1% 0 2%;
  padding: 1rem;
  text-align: center;
}

.nav-item {
  display: inline;
  padding: 3%;
}

.nav-item:hover .nav-sub {
  visibility: visible;
}

.nav-sub {
  display: block;
  margin: 1%;
  position: absolute;
  visibility: hidden;
  width: 100%;
}

.nav-sub-item {
  display: inline;
  padding: 0 3% 1%;
}

.responsive-iframe {
  height: 315px;
  margin-top: 1.5%;
  width: 560px;
}

.width-narrow {
  margin: 2% auto 5%;
  width: 65%;
}

@media only screen and (max-width: 992px) {
  /* For mobile phones: */
  body {
    overflow-x: hidden;
  }

  table {
    width: 90%;
  }

  .container {
    width: 90%
  }

  .grid-container {
    align-items: end;
    display: grid;
    grid-template-columns: 100%;
    margin: 5% auto 6%;
    row-gap: 4rem;
  }

  .header-line {
    margin: 50px auto;
  }

  .info-table {
    width: 90%;
  }

  .responsive-iframe {
    height: 225px;
    width: 400px;
  }

  .width-narrow {
    width: 90%;
  }
}
